[aspace_credentials]
api_host = http://localhost:8089
username = admin
password = admin
[archiveswest_credentials]
api_host = https://archiveswest.orbiscascade.org/tools
username = admin
password = admin
